@import url(https://fonts.google.com/specimen/Outfit);
$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);

body{
    display: flex;
    background-color: $Lightgray;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.flex-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    max-width: 280px;
    background-color: $White;
    border-radius: 20px;
    text-align: center;
    
}
img{
    max-width: 250px;
    border-radius: 20px;

}

#headingone{
    font-size:15px;
    font-family:'Outfit', sans-serif;
    font-weight: 700;

}

#paragraph{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
